.card{
    /* height: 85vh; */
    position: relative;
    display: flex;
    flex-direction: column;
}
/* .cardd{
    position: relative;
    
} */

/* .img{
    position: absolute;
    margin-left: 55rem;
    object-fit: cover;
} */

.cardd{
    margin-left: 10px;
    font-size: 20px;
    position: relative;
    text-align: left;
    color: rgb(129, 177, 177);
    /* height: 5vh; */
}

.product{
    /* display: grid;
    grid-template-columns: auto auto auto auto; */
    position: relative;
    /* height: 79vh;   */
    width: 100%; 
}

.h{
    height: 10px;
}

.heading{
    margin-top: 3px;
    color: black;
}
.text{
    margin-top: 5px;
    color: black;
    
}

@media screen and (max-width: 768px) {
    .card{
        height: 85vh;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .product{
        /* display: grid;
        grid-template-columns: auto auto auto auto; */
        position: relative;
        height: 79vh;  
        overflow-x: hidden;
    }

    .h{
        height: 5px;
        font-size: 12px;
    }
    

}